.container {
  position: relative;
  max-width: 1280px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userInterface {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.basket {
  cursor: pointer;
  position: relative;
}
.favorite {
  cursor: pointer;
}
.userProfile {
  cursor: pointer;
}

.authBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}
.login {
  padding: 8px 18px;
  border-radius: 8px;
  color: #070422;
  border: 3px solid #070422;
  font-size: 16px;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}
.login:hover {
  background-color: #070422;
  color: white;
}
.register {
  padding: 8px 18px;
  border-radius: 8px;
  background: #070422;
  color: white;
  font-size: 16px;
  transition: 0.2s;
}
.favBas {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box.absolute {
  position: absolute;
  top: -50px;
  right: 10;
}
.register:hover {
  color: #070422;
  border: 1px solid #070422;
  background: none;
}

.hamburger {
  display: none;
  position: relative;
  cursor: pointer;
  padding: 0px;
  border: none;
  margin: 0;
  background: none;
  z-index: 3;
}

.hamburger.isActive {
  transform: rotate(90deg);
}

.hamburgerBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

.hamburgerInner,
.hamburgerInner::before,
.hamburgerInner::after {
  display: block;
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: #070422;
  transition: all 0.3s ease-in-out;
}

.hamburgerInner {
  position: relative;
}

.hamburgerInner::before,
.hamburgerInner::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburgerInner::before {
  top: -8px;
}

.hamburgerInner::after {
  bottom: -8px;
}

.hamburger.isActive .hamburgerInner {
  transform: rotate(45deg);
}

.hamburger.isActive .hamburgerInner::before {
  top: 0;
  opacity: 0;
}

.hamburger.isActive .hamburgerInner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

@media (max-width: 1300px) {
  .container {
    padding-inline: 20px;
  }
}

@media (max-width: 960px) {
  .userInterface {
    gap: 10px;
  }
  .hamburger {
    display: block;
  }
  .authBtn {
    display: none;
    transition: 0.5s;
  }
  .authBtn.authBtnAtive {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    z-index: 3;
  }
  .userProfile {
    display: none;
    transition: 0.5s;
  }
  .userProfile.userActive {
    display: block;
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 7;
  }
}
@media (max-width: 420px) {
  .userInterface {
    gap: 10px;
  }
}
@media (max-width: 960px) {
}
