.LaptopImage {
  max-width: 1640px;
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: 0 auto;
  background-image: url("/laptop.png");
}
@media (max-width: 760px) {
  .LaptopImage {
    display: none;
  }
}
