.overlay {
  position: relative;
  max-width: 1660px;
  margin: 0 auto;
}
.container {
  position: absolute;
  max-width: 1280px;
  width: 100%;
  margin: 0 50px 0 0px;
  display: flex;
  top: -65px;
  right: 200px;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  transform: translateY(-1220px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  left: 7%;
  z-index: 7;
}
.container.active {
  transform: translateY(-120px);
}
.header {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.imgCon {
  position: relative;
  max-width: 700px;
}
.img {
  object-fit: cover;
  border-radius: 50%;
}
.removeBtn {
  position: absolute;
  top: 5;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}
.imgCon:hover .removeBtn {
  display: block;
}
.btn {
  padding: 24px 36px;
  border-radius: 12px;
  background-color: #070422;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 970px) {
  .btn {
    padding: 16px 26px;
  }
  .container {
    justify-content: space-between;
  }
}
@media (max-width: 430px) {
  .container {
    flex-direction: column;
  }
  .img {
    width: 75px;
    height: 75px;
  }
}
