.cartContainer {
  position: relative;
  max-width: 1280px;
  margin: 40px auto 60px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.header {
  max-width: 1280px;
  margin: 30 auto 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lol {
  font-size: 32px;
  font-weight: 600;
}
.input {
  border-radius: 32px;
  background-color: #ededed;
  border: none;
  font-size: 16px;
  padding: 14px 34px 14px 20px;
}
.cart {
  position: relative;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  padding: 20px;
}
.clearCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 230px;
}
.clearTitle {
  font-size: 26px;
  font-weight: 600;
  color: #070422;
}
.title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}
.paragh {
  font-size: 12px;
  color: #959595;
  margin: 15px 0;
}
.controls {
  max-width: 1400px;
  margin-top: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}
.cont {
  display: flex;
  gap: 10px;
}
.sds {
  width: 10px;
  height: 10px;
}
.btnw {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.icon {
  padding: 10px 10px 10px 8px;
}
.btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #959595;
  background: none;
  border-radius: 8px;
  transition: 0.5s;
  font-size: 12px;
  color: #070422;
}

.checoutBtn {
  font-size: 14px;
  padding: 12px 38px;
  border-radius: 12px;
  border: none;
  background-color: #070422;
  color: white;
  cursor: pointer;
}
.removeBtn {
  position: absolute;
  top: 5;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}
.cart:hover .removeBtn {
  display: block;
}
.openOrder {
  position: absolute;
  left: 67%;
  top: 0;
}
.orderBtn {
  padding: 2px;
  background: none;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
}
.orderBtn.btnAvtive {
  transform: rotate(180deg);
  border-radius: 10px 10px 0 0;
}
.openOrder.OrderActive {
  top: 148px;
}
@media (max-width: 660px) {
  .cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 525px) {
  .header {
    flex-direction: column;
    align-items: start;
  }
  .header h1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 430px) {
  .openOrder {
    left: 75%;
  }
  .openOrder.OrderActive {
    top: 196px;
  }
}
